{% extends 'base.html' %}

{% block title %} Spiral Test{% endblock %} 

{% block nav_list %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="/audiotest">Audio Test</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/performance">Performance</a>
    </li>
    

{% endblock %}


{% block body %}

    
    <form method="POST" class ="mb-3 inputfile align-middle mt-1" action="/spiraltest" enctype="multipart/form-data">
        <h1>Upload Image to Test:</h1>
        <label for="formFile" class="form-label">Input image file</label>
        <input class="form-control mb-4" type="file" id="name" name="image">
        <button class="btn btn-dark" type="submit" >Test</button>
    </form>

    {% if prediction %}

    <div class="loader pred_div ">
        <img src={{ img_path }} style="width: 150px;height: 150px;" alt="spiral_image" class="mb-3">
        <h3>Prediction Result : 
            {% if prediction == 'Parkinson' %}
            <span style="color : red;" >{{ prediction }}</span>
            {% else %}
            <span style="color : green;" >{{ prediction }}</span>
            {% endif %}
            
        </h3>

    </div>
    {% endif %}
    

{% endblock %}